* {
margin:0;
padding:0;
box-sizing: border-box;
}

body {
    background:url(./assests/bg.jpg)
}

.container{
    max-width:1380px;
    margin:0 auto;
}

.container-fluid{
    display: flex;
    justify-content: space-between;
    padding:60px 80px;
    margin-bottom:40px
    

}
nav {
   
}

nav .container>  div:nth-child(2){
    display: flex;
    flex-basis: 36%;
}

.container-fluid ul{
   display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type:none ;
    
}


.left-profile {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: center;

}
.name > p:nth-child(1) {
    margin-bottom: 50px;
}

.des {
    margin-bottom: 90px;
}

.left-profile > div:nth-child(3) {
    display: flex;
    gap: 35px;
    align-items: center;
}

.right-profile {
    display: flex;
    max-width:780px;
    flex-basis: 40%;

}

.right-profile img {
    width:100%;
}

.right-short-bio {
    max-width: 389px;
}

.right-short-bio img{
    width:100%;
}

.h3{
    margin: 0 auto;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.h4 {
    margin-bottom: 20px;
}

.p{
    max-width: 763px;
    margin: 0 auto;
}


/* #about-me .container > div:nth-child(1){
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;

} */

#about-me .container > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.hidden{
    display: none;
}

.items {
    max-width: 431px;
    margin: 0 auto;
    padding-bottom: 65px;

}

.items-position {
    position: relative;
}
.items-position img{
    position:absolute;
    top: -38%;
    left: -9%;
}

.bio-box {
    display: flex;
    flex-direction: column;
    gap:30px;
}


#about-me .container > div:nth-child(2) div:nth-child(3) {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 30px;
}
.seperator{
    margin-top: 55px;
    margin-bottom: 120px;
    text-align: center;
}

.skills {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 40px;
}

.skills-list {
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
        margin: 0 auto;
        gap:50px;
}

.skill-wrap {
    max-width:55px;

}
.skill-wrap img{
    width:100%;
}

.skill-title{
    margin:0 auto;
    margin-top: 92px;
    margin-bottom: 42px;
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;

}


#form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    max-width:600px;
    margin-bottom: 50px;
}

.input {
    min-height: 40px;
    padding: 10px 10px;
    margin-bottom: 30px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: none;
    border-right: none;
}

.textarea{
    padding: 10px 10px;
    margin-bottom: 30px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: none;
    border-right: none;
}

.button {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: none;
    border-bottom: none;
    padding: 10px 20px;
    background-color: transparent;
    max-width:110px;
}

footer{
    color: white
}

#footer-section .container > div:nth-child(2) {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
#footer-section .container > div:nth-child(1) {
    text-align: center;
    margin-bottom: 25px;
}
#footer-section .container > div:nth-child(3) {
    text-align: center;
    margin-bottom: 25px;
}
.footer-logo-wrap {
margin:20px
}

#more{
    display: none;
}